# temporary/backup files
*~

# c++
*.d
*.o
*.so

# python
*.pyc
*__pycache__/
*.cache

# log files
*.log

bin/install

*.json
*.h5

# spurious stuff in my repo XXX
src/scripts
src/ggplearn/data
src/ggplearn/gather
